body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gsap-marker-scroller-end,
.gsap-marker-scroller-start,
.gsap-marker-end,
.gsap-marker-start {
  display: none !important;
}
/* .pin-spacer{
  padding: 0px;
  height: 773px;
}  */
